@using AssetManager.DTOs

@model IEnumerable<PersonDisplayDto>


<option disabled selected class="text-muted">select</option>
@{
    foreach(var el in Model)
    {
        <option value="@el.PersonId">@($"{el.FirstName} {el.LastName}")</option>
    }
}