@using AssetManager.ViewModels

@model PersonGridViewModel

@{
    ViewData["Title"] = "People Grid";
}

<div class="d-flex justify-content-between">
    <h2 class="mb-0">People</h2>
    <button type="button" id="addNewPerson" class="d-flex btn btn-primary h-25 align-self-end" onclick="addEditPerson(0)" >Add Person</button>    
</div>

<partial name="_GridPartial" />

<div id="newPersonModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div id="newPersonModalContents" class="modal-content">
        </div>
    </div>
</div>

<script>
    function addEditPerson(personId){
        var url = `/People/AddEdit/${personId}`;
        
        $("#newPersonModal").modal("show");
        $("#newPersonModalContents").load(url);
    };

    function confirmDelete(personId){
        if (confirm("Are you sure you want to delete this person?")) {
            
            $.ajax({
            method: "DELETE",
            url: `/People/Delete/${personId}`,
            success: function (data, textStatus) 
                {
                if (textStatus == 'success') {
                    $("tbody").children(`[data-id='${personId}']`).remove();
                    doAnAlert("personDeleteSuccess");
                }
                }
            })
        }
    }

    function getGridPageAjax(pageNumber) 
    {
        $.ajax({
                type: 'get',
                url: `/People/GetPageOfPeople/${pageNumber}`,
                success: function (data, textStatus) {
                    $("#gridWrapper").replaceWith(data);
                }
            })
    }
</script>
