@using AssetManager.Models;
@using AssetManager.DTOs;
@using AssetManager.Enums

@model AssetAddEditDto

<div>
    @using (Html.BeginForm("AddEdit", "Assets"))
    {
        <div class="modal-header" style="background-color:#F2F2F2">
            <h5 class="modal-title text-black">Add Asset</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            @Html.AntiForgeryToken()

            <input asp-for="AssetId" type="hidden">

            <label asp-for="AssetType">Asset Type</label><span style="color:red">*</span>
            <select asp-for="AssetType" class="form-select"
                    asp-items="Html.GetEnumSelectList<AssetType>()">
                <option disabled selected class="text-muted">select</option>
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="AssetType" class="text-danger small"></span>
            </div>

            <label asp-for="Model">Model</label><span style="color:red">*</span>
            <select asp-for="Model" class="form-select"
                    asp-items="Html.GetEnumSelectList<Product>()">
                <option disabled selected class="text-muted">select</option>
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="Model" class="text-danger small"></span>
            </div>

            <label asp-for="Site">Site</label><span style="color:red">*</span>
            <select asp-for="Site" class="form-select"
                    asp-items="Html.GetEnumSelectList<Site>()">
                <option disabled selected class="text-muted">select</option>
            </select>
            <div style="min-height:15px">
                <span asp-validation-for="Site" class="text-danger small"></span>
            </div>

            <label asp-for="PersonId">Person</label>
            <input asp-for="PersonId" class="form-control" />
                        <div style="min-height:15px">
                <span asp-validation-for="PersonId" class="text-danger small"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="saveNewAsset" type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>