@using AssetManager.ViewModels
@using AssetManager.DTOs
@using AssetManager.Enums

@model AssetGridViewModel

@{
    ViewData["Title"] = "Assets Grid";
}

<div class="d-flex justify-content-between">
    <h2 class="mb-0">Assets</h2>
    <button type="button" id="addNewAsset" class="d-flex btn btn-primary h-25 align-self-end" onclick="addEditAsset(0)">Add Asset</button>
</div>

<partial name="_GridPartial" />

<div id="newAssetModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div id="newAssetModalContents" class="modal-content">
        </div>
    </div>
</div>

<div id="deleteConfirmation" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lightpink">
                <h5 class="modal-title text-white">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center" style="height: 100px; font-size:1.25rem">
                <div>Are you sure you want to delete this asset?</div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button id="deleteAssetButton" type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteAsset(this)">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function addEditAsset(assetId) {
        var url = `/Assets/AddEdit/${assetId}`;

        $("#newAssetModal").modal("show");
        $("#newAssetModalContents").load(url);
    };

    function deleteAsset(el) {
        var assetId = $(el).attr('data-asset-id');
        var url = `/Assets/Delete/${assetId}`;

        $.ajax({
            method: "DELETE",
            url: url,
            success: function (data, textStatus) {
                if (textStatus == 'success') {
                    $("tbody").children(`[data-id='${assetId}']`).remove();
                }
            }
        })
    };

    function confirmDelete(assetId) {
        $("#deleteConfirmation").modal("show");
        $("#deleteAssetButton").attr('data-asset-id', `${assetId}`);
    }

    function getGridPageRelative(el) 
    {
        var pageNumber = $(el).attr('data-page');
        var isDisabled = $(el).hasClass("disabled");

        if (isDisabled == false)
        {
            getGridPageAjax(pageNumber);
        }
    }

    function getGridPageAbsolute(el) {
        var pageNumber = $(el).attr('data-page');
        var isActive = $(el).hasClass("active");

        if (isActive == false) {
            getGridPageAjax(pageNumber);
        }
    }

    function getGridPageAjax(pageNumber) 
    {
        $.ajax({
                type: 'get',
                url: `/Assets/GetPageOfAssets/${pageNumber}`,
                success: function (data, textStatus) {
                    $("#gridWrapper").replaceWith(data);
                }
            })
    }
</script>
