@using AssetManager.ViewModels

@model OrderGridViewModel

@{
    ViewData["Title"] = "Orders Grid";
}

<div class="d-flex justify-content-between">
    <h2 class="mb-0 align-self-end">Orders</h2>
    <button type="button" id="addNewOrder" class="d-flex btn btn-primary h-25 align-self-end" onclick="addEditOrder(0)">Add Order</button>
</div>

<partial name="_GridPartial" />

<div id="newOrderModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div id="newOrderModalContents" class="modal-content">
        </div>
    </div>
</div>

<script>
    function addEditOrder(orderId){
        url = `/Orders/AddEdit/${orderId}`;
        $("#newOrderModal").modal("show");
        $("#newOrderModalContents").load(url);
    }

    function confirmDelete(orderId){
        if (confirm("Are you sure you want to delete this order?")) {
            $.ajax({
             method: "DELETE",
                url: `/Orders/Delete/${orderId}`,
            success: function (data, textStatus) {
                if (textStatus == 'success') {
                    doAnAlert("orderDeleteSuccess")
                    $("tbody").children(`[data-id='${orderId}']`).remove();
                }
            }
            });
        }
    }

    function receiveOrder(orderId)
    {
        if (confirm("Mark Order as received and create Assets?")) {
            $.ajax({
            method: "POST",
                url: `/Orders/ReceiveOrder/${orderId}`,
            success: function (data, textStatus) {
                if (textStatus == 'success') {
                    doAnAlert("orderReceiveSuccess");
                    
                    //update record if on same page
                }
            },
            error: function () {
                doAnAlert("failure");
            }
            })
        }
    }

    function getGridPageAjax(pageNumber) 
    {
        $.ajax({
                type: 'get',
                url: `/Orders/GetPageOfOrders/${pageNumber}`,
                success: function (data, textStatus) {
                    $("#gridWrapper").replaceWith(data);
                }
            })
    }
</script>
